@font-face {
    font-family: 'Century Schoolbook';
    src: url('CenturySchoolbook.woff2') format('woff2'),
        url('CenturySchoolbook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

